<shared-auth-layout authTitle="Inicio de sesión">
  <!-- Formulario de inicio de sesion -->
  <form class="min-w-[150px] max-w-[500px] w-full space-y-5">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-hint>Errors appear instantly!</mat-hint>
      @if (emailFormControl.hasError('email') &&
      !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-hint>Errors appear instantly!</mat-hint>
      @if (emailFormControl.hasError('email') &&
      !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <div class="w-full text-end">
      <a
        [routerLink]="['/auth/register']"
        class="underline italic cursor-pointer hover:text-[#33a7a7]"
      >
        Crear una nueva cuenta
      </a>
    </div>

    <mat-card-actions class="flex items-center justify-center">
      <button mat-button>Enviar</button>
    </mat-card-actions>
  </form>
</shared-auth-layout>
