<shared-auth-layout authTitle="Registro de usuario">
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="min-w-[150px] max-w-[500px] w-full space-y-5"
  >
    <mat-form-field class="w-full">
      <mat-label>Nombre Completo</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex. Patricio"
        formControlName="nombreCliente"
      />
      <mat-hint> Los errores aparecen instantáneamente! </mat-hint>
      @if ( hasError('nombreCliente', 'required') ) {
      <mat-error> El nombre es <strong>requerido</strong> </mat-error>
      } @if ( hasError('nombreCliente', 'minlength') ) {
      <mat-error> El nombre debe tener al menos 3 caracteres </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Ej. correo@google.com"
        formControlName="correoElectronico"
      />
      <mat-hint> Los errores aparecen instantáneamente! </mat-hint>
      @if ( hasError('correoElectronico', 'required') ){
      <mat-error>
        El correo electrónico es <strong>requerido</strong>
      </mat-error>
      } @if ( hasError('correoElectronico', 'email') ){
      <mat-error>
        Por favor, introduzca una dirección de correo electrónico válida
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ej. 123456"
        formControlName="contraseña"
      />
      <mat-hint> Los errores aparecen instantáneamente! </mat-hint>
      @if ( hasError('contraseña', 'required') ){
      <mat-error> La contraseña es <strong>requerida</strong> </mat-error>
      } @if ( hasError('contraseña', 'minlength') ){
      <mat-error> La contraseña debe tener al menos 6 caracteres </mat-error>
      }
    </mat-form-field>

    <div class="w-full text-end">
      <a
        [routerLink]="['/auth/login']"
        class="underline italic cursor-pointer hover:text-[#33a7a7]"
      >
        ¿Ya tienes una cuenta?
      </a>
    </div>

    <mat-card-actions class="flex items-center justify-center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="myForm.invalid"
      >
        Crear cuenta
      </button>
    </mat-card-actions>
  </form>
</shared-auth-layout>
