<shared-title-component title="Tus favoritos" />

@if (!options.length) {
<empty-component />
}@else {
<form class="w-full flex justify-center">
  <mat-form-field class="w-4/5">
    <mat-label>Number</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="flex flex-wrap justify-center items-center gap-10 mt-3">
  @for (option of options; track $index) {
  <shared-favorite-card-component />
  }
</div>
}
