<form [formGroup]="myForm">
  <div class="space-y-12">
    <div class="border-b border-white/10 pb-12">
      <h2 class="text-base/7 font-semibold text-white">Agregar un Producto</h2>
      <p class="mt-1 text-sm/6 text-gray-400">
        Verifique que los datos sean correctos antes de guardar. Ademas de
        verificar si el producto ya existe.
      </p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label
            for="name_product"
            class="block text-sm/6 font-medium text-white"
          >
            Correo de usuario - Titulo del producto
          </label>
          <div class="mt-2">
            <div
              class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500"
            >
              <span
                class="flex select-none items-center pl-3 text-gray-500 sm:text-sm"
              >
                {{ "workcation.com /" }}
              </span>
              <input
                type="text"
                name="name_product"
                id="name_product"
                class="flex-1 border-0 bg-transparent py-1.5 pl-1 text-white focus:ring-0 sm:text-sm/6 text-center"
                placeholder="Ingrese el nombre del producto nuevo"
                formControlName="productTitle"
                autocomplete="off"
                autofocus
              />
            </div>
          </div>
        </div>

        <div class="col-span-full">
          <label
            for="description"
            class="block text-sm/6 font-medium text-white"
          >
            Descripcion del producto
          </label>
          <div class="mt-2">
            <textarea
              id="description"
              name="description"
              rows="3"
              class="block w-full rounded-md border-0 bg-white/5 px-3 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6 resize-none"
              formControlName="productDescription"
              placeholder="Ingrese una descripcion del producto"
            ></textarea>
          </div>
        </div>

        <!-- <div class="col-span-full">
          <label
            for="cover-photo"
            class="block text-sm/6 font-medium text-white"
          >
            Foto del producto
          </label>
          <div
            class="mt-2 flex justify-center rounded-lg border border-dashed border-white/25 px-6 py-10"
          >
            <div class="text-center">
              <svg
                class="mx-auto h-12 w-12 text-gray-500"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z"
                  clip-rule="evenodd"
                />
              </svg>
              <div class="mt-4 flex text-sm/6 text-gray-400">
                <label
                  for="file-upload"
                  class="relative cursor-pointer rounded-md bg-gray-900 font-semibold text-white focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 focus-within:ring-offset-gray-900 hover:text-indigo-500"
                >
                  <span>Upload a file</span>
                  <input
                    id="file-upload"
                    name="file-upload"
                    type="file"
                    class="sr-only"
                  />
                </label>
                <p class="pl-1">or drag and drop</p>
              </div>
              <p class="text-xs/5 text-gray-400">PNG, JPG, GIF up to 10MB</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="border-b border-white/10 pb-12">
      <h2 class="text-base/7 font-semibold text-white">
        Detalles del producto
      </h2>
      <p class="mt-1 text-sm/6 text-gray-400">
        Asegurese de ingresar los datos correctos del producto.
      </p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label
            for="product_price"
            class="block text-sm/6 font-medium text-white"
          >
            Precio del producto
          </label>
          <div class="mt-2">
            <input
              type="number"
              name="product_price"
              id="product_price"
              class="block w-full text-center rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6"
              formControlName="productPrice"
              placeholder="Ingrese el precio del producto"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="quantity-product"
            class="block text-sm/6 font-medium text-white"
          >
            Cantidad de productos
          </label>
          <div class="mt-2">
            <input
              type="number"
              name="quantity-product"
              id="quantity-product"
              class="block w-full text-center rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6"
              formControlName="productQuantity"
              placeholder="Ingrese la cantidad de productos"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="product-category"
            class="block text-sm/6 font-medium text-white"
          >
            Categoria del producto
          </label>
          <div class="mt-2">
            <select
              id="product-category"
              name="product-category"
              class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6 [&_*]:text-black"
              formControlName="productCategory"
            >
              <option value="" hidden>Seleccione una categoria</option>
              @if (categories$ | async; as categories) { @for (category of
              categories; track $index) {
              <option class="text-center" [value]="category.id">
                <span>
                  {{ category.nombreCategoria }}
                </span>
              </option>
              } } @else {
              <option>Loading...</option>
              }
            </select>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="product-provedor"
            class="block text-sm/6 font-medium text-white"
          >
            Proveedor del producto
          </label>
          <div class="mt-2">
            <select
              id="product-provedor"
              name="product-provedor"
              class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm/6 [&_*]:text-black"
              formControlName="productSupplier"
            >
              <option value="" hidden>Seleccione un proveedor</option>
              @if (suppliers$ | async; as suppliers) { @for (supplier of
              suppliers; track $index) {
              <option class="text-center" [value]="supplier.id">
                <span>
                  {{ supplier.correoElectronico }} - #{{ supplier.telefono }}
                </span>
              </option>
              } } @else {
              <option>Loading...</option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button
      type="submit"
      class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
      (click)="saveProduct()"
    >
      Save
    </button>
    <button type="reset" class="text-sm/6 font-semibold text-white">
      Cancel
    </button>
  </div>
</form>

<h3>Formulario</h3>
<code>
  <pre>
    {{ myForm.value | json }}
    {{ myForm.errors | json }}
  </pre>
</code>
