<div class="mb-5 ml-5 space-x-5">
  <button (click)="isVisibleUserList = !isVisibleUserList"
    class="rounded-full bg-cyan-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">
    {{ isVisibleUserList ? "Ocular" : "Mostrar" }} la lista de usuarios
  </button>
  <button (click)="isVisibleAdminList = !isVisibleAdminList"
    class="rounded-full bg-cyan-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">
    {{ isVisibleAdminList ? "Ocular" : "Mostrar" }} la lista de administradores
  </button>
  <button (click)="isVisibleAdminList = !isVisibleAdminList"
    class="rounded-full bg-cyan-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">
    {{ isVisibleSupplierList ? "Ocular" : "Mostrar" }} la lista de proveedores
  </button>
</div>

<div>
  @if (isVisibleUserList) {
  <ui-user-list [customers]="getUsersByRole('Cliente')"></ui-user-list>
  }@if (isVisibleAdminList) {
  <ui-employees-list [employees]="getUsersByRole('Administrador')"></ui-employees-list>
  }@if (isVisibleSupplierList) {
  <ui-employees-list [employees]="getUsersByRole('Proveedor')"></ui-employees-list>
  }
</div>
