<div class="mb-5 ml-5 space-x-5">
  <button (click)="isVisibleUserList.set(!isVisibleUserList())"
    [ngClass]="{ 'bg-cyan-600 hover:bg-cyan-400 focus-visible:outline-cyan-600': isVisibleUserList(), 'bg-red-600 hover:bg-red-400 focus-visible:outline-red-600': !isVisibleUserList() }"
    class="rounded-full px-3.5 py-2 text-sm font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
    {{ isVisibleUserList() ? "Ocultar" : "Mostrar" }} la lista de usuarios
  </button>
  <button (click)="isVisibleAdminList.set(!isVisibleAdminList())"
    [ngClass]="{ 'bg-cyan-600 hover:bg-cyan-400 focus-visible:outline-cyan-600': isVisibleAdminList(), 'bg-red-600 hover:bg-red-400 focus-visible:outline-red-600': !isVisibleAdminList() }"
    class="rounded-full bg-cyan-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">
    {{ isVisibleAdminList() ? "Ocultar" : "Mostrar" }} la lista de administradores
  </button>
  <button (click)="isVisibleSupplierList.set(!isVisibleSupplierList())"
    [ngClass]="{ 'bg-cyan-600 hover:bg-cyan-400 focus-visible:outline-cyan-600': isVisibleSupplierList(), 'bg-red-600 hover:bg-red-400 focus-visible:outline-red-600': !isVisibleSupplierList() }"
    class="rounded-full bg-cyan-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">
    {{ isVisibleSupplierList() ? "Ocultar" : "Mostrar" }} la lista de empleados
  </button>
</div>

<div>
  @if (isVisibleUserList() && getUsersByRole('Cliente').length > 0) {
  <ui-user-list [customers]="getUsersByRole('Cliente')"
    [onUserClick]="updateClientRoleToEmployee.bind(this)"></ui-user-list>
  }
  @if (isVisibleAdminList() && getUsersByRole('Administrador').length > 0) {
  <ui-employees-list [title]="'Administradores'" [employees]="getUsersByRole('Administrador')"
    [onEmployeeClick]="inactiveAdministrator.bind(this)" nameButton="Admin Inactivo"></ui-employees-list>
  }
  @if (isVisibleSupplierList() && getUsersByRole('Empleado').length > 0) {
  <ui-employees-list [title]="'Empleados'" [employees]="getUsersByRole('Empleado')"
    [onEmployeeClick]="updateEmployeeRoleToClient.bind(this)" nameButton="Cambiar a Usuario"></ui-employees-list>
  }
  @if (
    !isVisibleAdminList() && !isVisibleSupplierList() && !isVisibleUserList()
  ) {
    <div>
      <span class="py-7 font-bold text-4xl">
        No se esta mostrando ninguna lista
      </span>
    </div>
  }
</div>
