<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="flex-1"> </span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      @for (item of sidebarItems; track $index) {
      <mat-list-item [routerLink]="item.url" (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flex-1"></span>

    <button mat-stroked-button [routerLink]="['/auth/login']">
      Cerrar sesión
    </button>
  </mat-toolbar>

  <div class="p-2">
    <router-outlet />
  </div>
</mat-sidenav-container>
