<div class="bg-orange-900 rounded-xl p-6">
  <div class="flex items-center justify-between pb-4 px-3">
    <h4 class="text-xl italic">Total:</h4>
    <span class="text-2xl">
      {{ total() | currency : "USD" }}
    </span>
  </div>

  <div
    class="flex flex-col space-y-5 md:flex-row-reverse md:space-y-0 md:gap-2"
  >
    <button mat-flat-button class="w-full" (click)="onProceedToPayment()">
      <span class="text-xl font-bold italic"> Proceder al pago </span>
    </button>
    <button
      mat-stroked-button
      class="w-full"
      [routerLink]="['/dashboard/products-list']"
    >
      <span class="text-lg tracking-tighter"> Seguir comprando </span>
    </button>
  </div>
</div>
