<shared-title-component title="Buscar entre todos nuestros productos" />

<form class="flex items-center justify-center w-full px-4 mb-5">
  <mat-form-field class="w-full max-w-[500px]">
    <mat-label>Buscar entre todos los productos</mat-label>
    <input
      type="text"
      placeholder="Ingresa el nombre del producto"
      aria-label="Buscar entre todos los productos"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<div
  class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-content-center"
>
  @defer(on timer(2000)) { @for (item of itemsSearch; track $index){

  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center"
  >
    <!-- <components-product-card [product]="item" /> -->
    Productos encontrados
  </div>

  } @empty{

  <div class="flex justify-center">
    <p>No se encontraron productos</p>
  </div>

  } } @placeholder { @for (i of [1, 2, 3, 4]; track $index) {

  <div
    class="col-span-4 sm:col-span-3 lg:col-span-2 xl:col-span-1 animate-pulse bg-gray-200 h-64 w-full rounded-md"
  ></div>

  } }
</div>
