<h2 mat-dialog-title>Seleccione las categorias a eliminar</h2>
<mat-dialog-content>
  @if (categories$ | async; as categories) {

  <mat-selection-list #ctgy>
    @for (category of categories; track category.id) {
    <mat-list-option [value]="category.id">{{
      category.nombreCategoria
    }}</mat-list-option>
    }
  </mat-selection-list>

  <p>Categorias Seleccionadas: {{ ctgy.selectedOptions.selected.length }}</p>

  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" (click)="deleteCategories()">
    Eliminar
  </button>
</mat-dialog-actions>
