<shared-title-component title="Historial de Compras" />

<div class="bg-gray-300 p-2">
  @if (purchaseHistory().length === 0)
  {
  <div class="text-center">
    <p class="text-2xl text-gray-800 leading-loose italic">No hay compras registradas</p>
  </div>
  }@else {
  <section class="mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="purchaseHistory()">
      <!-- Product Name Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Nombre del Producto</th>
        <td mat-cell *matCellDef="let product">{{ product.productName }}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- Product Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Cantidad adquirida</th>
        <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef>Costo total del producto</th>
        <td mat-cell *matCellDef="let product">
          {{ product.unitPrice | currency }}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalCost() | currency }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </section>
  }
</div>
